* {
  box-sizing: border-box;
  font-size: 1rem;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 8px;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  align-items: center;
}

label[for="country"] {
  position: relative;
  left: -55px;
}

input {
  height: 20px;
  width: 200px;
}

input:invalid {
  border: 1px solid rgb(212, 88, 88);
}
